// --------------- Colors (Private Variables) ----------------

// Default
$color-white: #fff;
$color-black: #000;

// Primary
$color-primary: #00bc75;

// Grey
$color-grey-1: #fbfbfb;
$color-grey-2: #ececec;
$color-grey-3: #cdcdcd;
$color-grey-4: #707070;
$color-grey-5: #4a4a4a;
$color-grey-6: #252525;
