$navbar-height: 5em;
$navbar-shadow: 0 2px 16px 0 rgba(0, 0, 0, .1);

$listing-container-shadow: 0 2px 24px 0 rgba(0, 0, 0, .1);
$border-radius-small: 4px;
$border-radius-large: 6px;
$border-radius-full: 10em;

$box-shadow-color: 0 1em 2em 0 rgba(0, 188, 117, .2);
