@import "colors";
@import "general";

html,
body {
  height: 100vh;
}

body {
  overflow: hidden;
  color: $color-grey-6;
  font-family: $font-montserrat;
}

a {
  text-decoration: none;

  &:visited,
  &:link {
    color: $color-grey-5;
  }
}

h1 {
  font-size: 32px;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 24px;
  font-weight: $font-weight-bold;
}

textarea,
select,
input,
button {
  outline: none;
}

.component-wrapper {
  position: relative;
  overflow: hidden;
  height: calc(100% - #{$navbar-height});
}
