<div class="map">
  <img src="../assets/map.jpg" alt="Map">
</div>

<div class="wrapper">
  <div class="listings-container">
    <app-search-bar></app-search-bar>

    <div class="search-filters">
      <app-search-filter></app-search-filter>
    </div>

    <div class="listings">
      <app-listing-card></app-listing-card>
      <app-listing-card></app-listing-card>
      <app-listing-card></app-listing-card>
      <app-listing-card></app-listing-card>
      <app-listing-card></app-listing-card>
      <app-listing-card></app-listing-card>
      <app-listing-card></app-listing-card>
      <app-listing-card></app-listing-card>
    </div>
  </div>
</div>
